.task-index {
  font-size: 1.4rem;
  margin: 0;
  position: sticky;
  width: 100%;

  a {
    text-decoration: none;
    color: $black;
  }

  .task-searcher {
    align-items: center;
    display: flex;
    height: 50px;
    justify-content: center;
    margin-bottom: 20px;
    position: relative;
    width: 100%;
    
    input {
      background-color: $primary-field;
      border-radius: 20px;
      border: 1px solid $grey-opacity;
      font-size: 1.6rem;
      padding: 8px 14px;
      width: 100%;
    }
    
    button {
      @include center-grid;
      background-color: $primary-button;
      border-radius: 50%;
      border: none;
      height: 30px;
      position: absolute;
      right: 10px;
      width: 30px;

      i { color: $white; }
    }
  }

  .tasks-container {
    display: grid;
    gap: 8px;

    .task {
      border-radius: 8px;
      border: 1px solid $grey-opacity;
      display: flex;
      gap: 8px;
      justify-content: space-between;
      padding: 14px;
      width: 100%;
  
      & > div:first-child { 
        align-items: center;
        display: flex; 
        gap: 10px;
        overflow: hidden;
      }
  
      .task-due-date {
        align-items: center;
        color: $grey;
        display: flex;
        gap: 4px;
      }
    }
  }

  .priority {
    border-radius: 50%;
    height: 20px;
    width: 20px;
  }

  .task-low .priority { background-color: $low-priority; }
  .task-medium .priority { background-color: $medium-priority; }
  .task-high .priority { background-color: $high-priority; }
}

.link-container {
  background: $primary-color;
  border-radius: 50%;
  bottom: 60px;
  box-shadow: 0px 0px 10px 8px white;
  cursor: pointer;
  height: 40px;
  margin-left: 85%;
  position: sticky;
  width: 40px;
  overflow: hidden;
  
  .task-new-btn {
    @include center-grid;
    background: $primary-color;
    color: $white;
    font-size: 2rem;
    font-weight: bolder;
    height: 100%;
    width: 100%;
  }
}

.link-container:hover { transform: scale(1.1); }

.profiler-results { display: none !important; }

.task-show {
  min-height: calc(100vh - 60px);
  @include center-flex-column;
  gap: 14px;

  & > div:first-child {
    font-size: 1.6rem;
    display: grid;
    border-radius: 4px;
    border: 1px solid $low-grey;
    place-items: center;
    padding: 10px;
    gap: 14px;
    
    header {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid $low-grey;
    }
  }
}

.task-show-options {
  width: 100%;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  gap: 16px;
}

.form-container .task-form {
  .field input, .field textarea {
    border: none;
  }

  .field { margin: 0; }

  header {
    align-items: center;
    border-bottom: 1px solid $low-grey;
    display: grid;
    grid-template-columns: minmax(65%, 70%) 30% ;
    padding-bottom: 8px;
    width: 100%;

    input[type="date"] { 
      font-size: 1.4rem;
      padding: 0;
      width: 100%;
    }

    label { 
      display: block;
      font-size: 1rem;
    }

    div:first-child { border-right: 1px solid $low-grey; }

    div:nth-child(2) { padding: 6px; }

    div { 
      display: inline-block;
    }  
  }

  .task-description { 
    border-bottom: 1px solid $low-grey;
    padding-top: 8px;

    textarea { min-height: 200px; }
  }

  .task-priority {
    display: flex;
    flex-direction: column;
    padding-top: 8px;
    place-items: end;

    label { font-size: 1rem; }

    select {
      background: none;
      border-radius: 8px;
      border: none;
      padding: 4px;
    }
  }
}

@media only screen and (min-width: 800px) {
  .link-container {
    bottom: 20px;
    height: 55px;
    width: 55px;

    .task-new-btn {
      font-weight: 400;
      font-size: 3rem;
    }
  }
}