.devise-container, .form-container {
  height: 100vh;
  width: 100%;
  margin-top: 100px;
  padding: 0 5%;
  font-size: 1.6rem;

  h1, h2 { font-size: 3rem; }

  form {
    margin-top: 20px;

    label { font-size: 1.8rem; }

    i, em { font-size: 1.2rem; }

    .field { margin-top: 10px;}

    .field input {
      border: 1px solid $grey;
      border-radius: 4px;
      padding: 12px 12px;
      width: 100%;
      outline: 0;
    }

    .field input:focus {
      border: 3px solid $primary-color;
    }

    input[type="checkbox"] { 
      box-shadow: none;
      width: auto; 
    }

    .actions {
      @include center-grid;
      margin: 12px 0;

      input[type="submit"] {
        border-radius: 8px;
        border: none;
        padding: 8px 0;
        width: 100%;
      }

      input[type="submit"]:hover {
        cursor: pointer;
        transform: scale(1.01);
      }
    }
  }

  a {
    text-decoration: none;
    font-weight: bold;
  }
}

.button_to {
  @include center-grid;
}

.secundary-button {
  border-radius: 8px;
  border: none;
  padding: 8px 0;
  width: 100%;
  background-color: $grey;
}