<div class="task-container">
  <form action="" class="task-searcher">
    <input type="text" placeholder="Buscar tarea">
    <button type="submit">
      <i class="fa-solid fa-magnifying-glass"></i>
    </button>
  </form>
  <% @tasks.each do |task| %>
    <div class="task task-<%= task.priority %>">
      <div>
        <div class="priority"></div>
        <%= task.title %>
      </div>
      <div class="task-due-date">
        <i class="fa-solid fa-calendar-days"></i>
        <%= task.due_date.strftime('%d/%m') %>
      </div>
    </div>
  <% end %>
</div>