<nav>
  <ul>
    <li class="nav-options">
      <a href="/"> <i class="fa-solid fa-clipboard"></i> </a>
    </li>
    <li class="nav-options">
      <a href="/"> <i class="fa-solid fa-house"></i> </a>
    </li>
    <li class="nav-options">
      <a href="/"> <i class="fa-solid fa-user"></i> </a>
    </li>
  </ul>
</nav>