<div class="home-container">
  <header>
    <h1>Bienvenido usuario</h1>
  </header>
  <section>
    <%= link_to 'Crear nueva tarea', new_task_path, class: 'primary-btn' %>
    <a href="/" >Crear nueva tarea</a>
  </section>
  <section>
    <%= link_to 'Tareas de hoy', tasks_path(today: Date.today), class: 'primary-btn' %>
  </section>
  <section>
    <%= link_to 'Tareas urgentes', tasks_path(priority: 2), class: 'primary-btn' %>
  </section>
  <section>
    <%= link_to 'Tareas atrasadas', tasks_path(overdue: Date.today), class: 'primary-btn' %>
  </section>
</div>