<div class="home-container">
  <header>
    <h1>Bienvenido usuario</h1>
  </header>
  <section>
    <%= link_to 'Crear nueva tarea', new_task_path %>
    <a href="/" >Crear nueva tarea</a>
  </section>
  <section>
    <%= link_to 'Tareas de hoy', tasks_path(today: Date.today) %>
  </section>
  <section>
    <%= link_to 'Tareas importantes', tasks_path(priority: 2) %>
  </section>
  <section>
    <%= link_to 'Tareas atrasadas', tasks_path(overdue: Date.today) %>
  </section>
</div>