nav {
  background-color: $white;
  border-top: 1px solid $grey-opacity;
  bottom: 0;
  font-size: 2rem;
  height: 50px;
  left: 0;
  position: fixed;
  width: 100%;
  
  ul {
    display: grid;
    gap: 4px;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100%;
    margin: 0;
    padding: 0;
    place-items: center;
    width: 100%;

    li { width: 70%; }

    a {
      display: block;
      text-align: center;
    }

    // Futuro select/hover
    a {
      background-color: $primary-field;
      border-radius: 10px;
    }
  }
}


@media only screen and (min-width: 800px) {
  nav {
    position: relative;
    
    ul {
      display: flex;
      flex-direction: column;     
      margin-top: 60px;
    }
  }
}