nav {
  background: $white;
  border-top: 1px solid $grey-opacity;
  bottom: 0;
  font-size: 2rem;
  height: 50px;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 3;
  
  ul {
    display: grid;
    gap: 4px;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100%;
    margin: 0;
    padding: 0;
    place-items: center;
    width: 100%;

    li { width: 70%; }

    a {
      color: $grey;
      display: block;
      display: grid;
      padding: 4px;
      text-align: center;
      text-decoration: none;

      span { font-size: 1rem; }
    }

    // Futuro select/hover
    a:hover, .active a {
      background-color: $primary-field;
      border-radius: 10px;
      color: $primary-color;
    }
  }
}


@media only screen and (min-width: 1000px) {
  nav {
    background: none;
    border: none;
    min-height: 100vh;
    position: relative;
    position: sticky;
    top: 0px;

    ul {
      align-items: baseline;
      background: $white;
      display: flex;
      flex-direction: column;
      max-width: 250px;
      padding-left: 4px;
      padding-top: 20px;
      width: 90%;

      a {
        align-items: center;
        display: flex;
        gap: 15px;

        i { width: 30px; }
        
        span { font-size: 1.6rem; }
      }
    }
  }
}