nav {
  background: $white;
  border-top: 1px solid $grey-opacity;
  bottom: 0;
  font-size: 2rem;
  height: 50px;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 3;

  .task-searcher { display: none; }

  .nav-divison { display: none; }
  
  ul {
    display: grid;
    gap: 4px;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100%;
    margin: 0;
    padding: 0;
    place-items: center;
    width: 100%;

    li { width: 70%; }

    a {
      color: $grey;
      display: block;
      display: grid;
      padding: 4px;
      text-align: center;
      text-decoration: none;

      span { font-size: 1rem; }
    }

    // Futuro select/hover
    a:hover, .active a {
      background-color: $primary-field;
      border-radius: 10px;
      color: $primary-color;
    }

    .filter { display: none; }
  }
}


@media only screen and (min-width: 1000px) {
  nav {
    background: none;
    border: none;
    min-height: 100vh;
    position: relative;
    position: sticky;
    top: 0px;

    .task-searcher { 
      background: $white;
      display: flex;
      gap: 4px;
      padding: 4px;
      width: 80%; 

      .search-icon {
        color: $grey;
        display: inline-block;
      }

      input {
        border-bottom: 1px solid $low-grey;
        border-radius: 0;
        border: none;
        width: 100%;
      }

      input:focus {
        border: none;
        border-bottom: 2px solid $primary-color;
      }

      button { display: none; }
    }

    .nav-divison {
      color: $grey;
      display: inline-block;
      padding-left: 4px;
      padding-top: 20px;
    }

    ul {
      align-items: baseline;
      background: $white;
      display: flex;
      flex-direction: column;
      max-width: 280px;
      padding-left: 4px;
      padding-top: 20px;
      width: 90%;

      a {
        align-items: center;
        display: flex;
        gap: 15px;

        i { width: 30px; }
        
        span { 
          font-size: 1.6rem; 
          text-align: left;
        }
      }

      .filter { display: inline-block; }

      .filter a { border-radius: 10px; }

      .filter-low a:hover, .filt-selected-low a {
        background: $low-priority;
        color: $low-priority-strong;
      }
  
      .filter-medium a:hover, .filt-selected-medium a {
        background: $medium-priority;
        color: $medium-priority-strong;
        padding-right: 4px;
      }
  
      .filter-high a:hover, .filt-selected-high a {
        background: $high-priority;
        color: $high-priority-strong;
      }
    }
  }
}