@mixin center-flex-column {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@mixin center-flex-row {
  align-items: center;
  display: flex;
  justify-content: center;
}

@mixin center-grid {
  display: grid;
  place-items: center;
}
