// Colors 
$white: white;
$black: black;
$primary-color: rgb(0, 100, 192);
$secundary-color: rgb(113, 190, 253);
$low-grey: rgb(212, 212, 212);
$grey: rgb(143, 143, 143);
$grey-opacity: rgba(143, 143, 143, 0.308);
$grey-opacity-2: rgb(243, 243, 243);

// Forms colors
$primary-button: rgb(0, 100, 192);
$primary-field: rgba(204, 229, 255, 0.699);
$primary-field-2: rgb(204, 229, 255);

//Shadows
$low-shadow: 0 0 3px $black;
$medium-shadow: 0 0 5px $black;
$large-shadow: 0 0 7px $black;

//Fonts
$font-family: 'Roboto', sans-serif;

//Priority colors
$low-priority: rgb(161, 230, 177);
$medium-priority: rgb(255, 234, 163);
$high-priority: rgb(255, 161, 169);

$low-priority-strong: rgb(17, 114, 39);
$medium-priority-strong: rgb(207, 168, 40);
$high-priority-strong: rgb(248, 2, 23);
